
@{
    ViewData["Title"] = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Blocks</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/Blocks/Home">Blocks</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>